<p><label>Make the preview area draggable</label>No settings here. 
<br />When editing wiki page, click the link "Preview here".

<p><label>Refresh duration</label><%= text_field_tag 'settings[preview_duration]', @settings['preview_duration'] %>
<br />Specify seconds to auto preview duration.
<br />If this value is 0, Auto preview feature of this plugin is disabled.
</p>

